.card, .card-img-top {
    width: 300px;
    height: auto;
    padding-right: 5px;
}

.card {
    margin-right: 20px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    min-width: 100%;
}

.row {
    display: inline-flex;
}

.card-text:last-child {
    width: 4vw;
}

#delete-button-utilizatori {
    background-color: white;
    border: 1px solid white;
    margin-left: -20px;
    padding-left:30px;
}

#edit-button-utilizatori {
    color: black;
    background-color: white;
    border:0px;
    margin-left: -5px;
}

#edit-button-utilizatori:hover {
    color: blue;
}

#delete-button-utilizatori:hover {
    color: red;
}

.aprecieri {
    width: 8vw !important;
}

.puncte {
    width: 80px !important;
}

#utilizatori-edit {
    margin-top: 10px;
}
#utilizatori-delete {
    margin-top: 10px;
}

#row-button {
    display: inline-block;
}

.utilizatori {
    margin-left: -125px;
    padding-right: 125px;
}