.text-light {
    margin: 10px;
    text-decoration: none;
}

li.nav-item:hover {
    color: black !important;
}

.row-dashboard {
    height: 100vh;
}

a {
    color: white;
}

.submenu > .text-light {
    margin: 0px;
}