:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0,0%,100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

body {
    display: grid;
    min-height: 100vh;
    line-height: 1.6;
    background: white;
    width: 100%;
}

.container {
    justify-content: center;
    width: 100%;
    margin-right: 255px;
    margin-top: 20px;
    background-color: white;
}

.option-categories {
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: 200;
}

.description-categories {
    margin-top: -30px !important;
}

.title-categories {
    margin-top: 20px !important;
}

.title-categories:hover + .option-categories, .option-categories:hover {
    display: block;
}

.description-categories {
    margin-top: 10px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

#delete-button {
    color: black;
}

#delete-button:hover {
    color: red;
}

#edit-button {
    background-color: white !important;
    border: 0px;
}

#edit-button:hover {
    color: blue;
}
#adauga-categorie-noua {
    padding:10px;
    background-color: #0d6efd;
    color: white;
    border-radius: 7px;
    border:0px;
}

#adauga-categorie-noua:hover {
    background-color: #0a56c5;
}

#back-edit {
    color: black;
}