#view-button {
    border: 0px;
    background-color: white;
    font-weight: 100;
}

a.back-button:hover {
    color: #5d5c5c;
}

button#delete-button {
    background-color: white;
    border: 1px solid white;
}