img {
    width: 100px;
    height: 150px;
}

table, th, td {
    border:1px solid black;
  }

button#delete-button {
    background-color: white;
    border: 1px solid white;
}

#edit-button {
    color: black;
}